{namespace org.gbc.luci}

/**
 * Support Page
 */
{template .support}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learn UCI - Support</title>
  </head>
  <body>
    <h1>Support</h1>
    <hr>
    <h2>Tell us your problems</h2>
    <textarea id="text"></textarea><br>
    <button id="btn_submit">Submit</button>
    <script type="text/javascript" src="js/support_script.js"></script>
  </body>
</html>
{/template}